@model BlogSystem.Web.Areas.Administration.ViewModels.Tag.TagViewModel
@{
    ViewBag.Title = "Edit Tag";
}

<h2>@ViewBag.Title</h2>
<hr />
<br />

@using (Html.BeginForm("Edit", "Tags", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(model => model.Id);

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default pull-left" })
            <button on type="submit" class="btn btn-success pull-right">Save Changes</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}