<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Administration panel BlogSystem" />
    <title>@ViewBag.Title - Administration - Ivan Kizirian's Blog</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(((string)ViewBag.Settings.Get["Blog Name"]), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <span>Administration</span>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Administration Home", "Index", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
        </div>

        <div class="footer-push"></div>
    </div>

    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - KiziSoft</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>