@using Microsoft.AspNet.Identity
@using BlogSystem.Web.Infrastructure.Constants
@model BlogSystem.Web.ViewModels.BlogPost.BlogPostIndexViewModel
@{
    ViewBag.Title = Model.Title;
}
<div class="content plate page">
    <section class="blog-post">
        <header class="article-header">
            <div class="date-holder">
                <ul class="text-center">
                    <li class="date-month">@((MonthName)Model.CreatedOn.Month)</li>
                    <li class="date-day">@Model.CreatedOn.Day</li>
                    <li class="date-year">@Model.CreatedOn.Year</li>
                </ul>
            </div>

            <div class="title article-title">
                <h2>@Model.Title</h2>
                <h3><i>@Model.SubTitle</i></h3>
            </div>

            <ul class="blog-info">
                <li>
                    <span class="glyphicon glyphicon-user"></span>
                    @Model.Autor.UserName
                </li>
                <li>
                    <span class="glyphicon glyphicon-calendar"></span>
                    @Model.CreatedOn.ToShortDateString()
                </li>
                <li>
                    <span class="glyphicon glyphicon-time"></span>
                    @Model.CreatedOn.ToShortTimeString()
                </li>
                <li>
                    <span class="glyphicon glyphicon-comment"></span>
                    8965 Comments
                </li>
            </ul>
        </header>

        <article class="raw">
            @Html.Raw(Model.Content)
            <br />
            <p class="clearfix">
                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    @Html.ActionLink("Edit", "Edit", "BlogPosts", new { Area = "Administration", Id = Model.Id }, new { @class = "btn btn-success btn-sm pull-right" })
                }
            </p>
        </article>
    </section>

    @Html.Partial("~/Views/Comment/_CommentsPartial.cshtml", Model.Id)

    @Html.Pager(Model.Pager.PreviousPage, Model.Pager.NextPage, new { @class = "blog-info" })
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/img-responsive/img-responsive.js"></script>
    <script type="text/javascript" src="~/Scripts/notifier/notifier.js"></script>
    <script type="text/javascript">
        function commentsLoaded() {
            $('#comments').on('click', 'a', function (e) {
                if ($(e.target).closest('.vote-up').length || $(e.target).closest('.vote-down').length) {
                    var vote = e.currentTarget.parentElement,
                        formData = new FormData(),
                        xhr = new XMLHttpRequest();

                    e.preventDefault();
                    formData.append('__RequestVerificationToken', $('#comments-items input[name="__RequestVerificationToken"').val());
                    xhr.addEventListener('load', function (data) {
                        if (this.status == 200) {
                            $(vote).replaceWith(data.target.response);
                            Notifier.notifyInfo('Thank you for your vote!');
                        } else {
                            showJsonError(data.target);
                        }
                    });
                    xhr.addEventListener('error', function (error) {
                        Notifier.notifyError('Something bad happend. Please try again!');
                    });

                    xhr.open("POST", this.pathname, true);
                    xhr.send(formData);
                }
            });
        }

        function showJsonError(data) {
            if (data.status === 500) {
                Notifier.notifyError('Something bad happend. Please try again!');
                return;
            }

            var response = JSON.parse(data.responseText);
            Notifier.notifyError(response.errorMessage);
        }
    </script>
}