@using Microsoft.AspNet.Identity
@using BlogSystem.Web.Infrastructure.Constants
@model BlogSystem.Web.ViewModels.BlogPost.BlogViewModel
@{
    ViewBag.Title = Model.BlogPost.Title;
}

<section class="content-root">
    <article class="content">
        <header class="article-header">
            <div class="date-holder">
                <ul class="text-center">
                    <li class="date-month">@((MonthName)Model.BlogPost.CreatedOn.Month)</li>
                    <li class="date-day">@Model.BlogPost.CreatedOn.Day</li>
                    <li class="date-year">@Model.BlogPost.CreatedOn.Year</li>
                </ul>
            </div>

            <div class="title article-title">
                <h2>@Model.BlogPost.Title</h2>
                <h3><i>@Model.BlogPost.SubTitle</i></h3>
            </div>

            <ul class="blog-info">
                <li>
                    <span class="glyphicon glyphicon-user"></span>
                    @Model.BlogPost.Autor.UserName
                </li>
                <li>
                    <span class="glyphicon glyphicon-calendar"></span>
                    @Model.BlogPost.CreatedOn.ToShortDateString()
                </li>
                <li>
                    <span class="glyphicon glyphicon-time"></span>
                    @Model.BlogPost.CreatedOn.ToShortTimeString()
                </li>
                <li>
                    <span class="glyphicon glyphicon-comment"></span>
                    8965 Comments
                </li>
            </ul>
        </header>

        <div class="article-body">
            @Html.Raw(Model.BlogPost.Content)

            <div class="clearfix">
                <br />

                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    @Html.ActionLink("Edit", "Edit", "BlogPosts", new { Area = "Administration", Id = Model.BlogPost.Id }, new { @class = "btn btn-success btn-sm pull-right" })
                }
            </div>
            <hr />
        </div>

        <footer class="article-footer">
            <ul class="row">
                <li class="col-xs-6 col-sm-3">
                    <span class="splitter split-autor"></span>
                    <div class="glyphicon glyphicon-user"></div>
                    <div>@Model.BlogPost.Autor.UserName</div>
                </li>
                <li class="col-xs-6 col-sm-3">
                    <span class="splitter split-date"></span>
                    <div class="glyphicon glyphicon-calendar"></div>
                    <div>@Model.BlogPost.CreatedOn.ToShortDateString()</div>
                </li>
                <li class="clearfix visible-xs-block"></li>
                <li class="col-xs-6 col-sm-3">
                    <span class="splitter split-time"></span>
                    <div class="glyphicon glyphicon-time"></div>
                    <div>@Model.BlogPost.CreatedOn.ToShortTimeString()</div>
                </li>
                <li class="col-xs-6 col-sm-3">
                    <span class="splitter split-comments"></span>
                    <div class="glyphicon glyphicon-comment"></div>
                    <div>8965 Comments</div>
                </li>
            </ul>
        </footer>
    </article>
</section>

<nav>
    <ul class="pager">
        <li class="previous">
            @if (Model.Previous != null)
            {
                <a href="@Model.Previous.Url" data-toggle="tooltip" data-original-title="@Model.Previous.Title" data-placement="top">
                    <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
                </a>
            }
            else
            {
                <span data-toggle="tooltip" data-original-title="Previous article not exist" data-placement="top">
                    <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
                </span>
            }
        </li>
        <li class="next">
            @if (Model.Next != null)
            {
                <a href="@Model.Next.Url" dat data-toggle="tooltip" data-original-title="@Model.Next.Title" data-placement="top">
                    <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
                </a>
            }
            else
            {
                <span data-toggle="tooltip" data-original-title="Next article not exist" data-placement="top">
                    <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
                </span>
            }
        </li>
    </ul>
</nav>

@section scripts {
    <script type="text/javascript" src="~/Scripts/img-responsive/img-responsive.js"></script>
    <script type="text/javascript">
        $(document).ready($(function () {
            $('[data-toggle="tooltip"]').tooltip()
        }));
    </script>
}