@model BlogSystem.Web.ViewModels.Comment.CommentInputModel

<div class="create-comment-root clearfix">
    @if (User.Identity.IsAuthenticated)
    {
        using (Ajax.BeginForm("Create", "Comment", new { blogPostId = Model.BlogPostId }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "comments", LoadingElementId = "load", OnFailure = "showCommentsJsonError" }, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-12">
                    <label for="input-comment" class="control-label">Leave a Comment</label>
                    @Html.EditorFor(x => x.Content, new { @class = "form-control", id = "input-comment", rows = 5 })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <span id="comment-error" class="text-danger pull-left"></span>
            <button type="submit" id="submit-btn" class="btn btn-success pull-right"><span id="load" class="fa fa-spinner fa-pulse"></span> Submit</button>
        }
    }
    else
    {
        ﻿<div class="alert alert-danger" role="alert">
            <span class="fa fa-exclamation-triangle fa-5x pull-left"></span>
            <p>Only registered users can comment.</p>
            <br />
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Log in", "Login", "Account", routeValues: new { ReturnUrl = Url.Action() }, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-xs" })
        </div>
    }
</div>

<script type="text/javascript">
    function showCommentsJsonError(data) {
        $('#comment-error')
            .text(data.responseJSON.ErrorMessage)
            .fadeIn()
            .delay(3000)
            .fadeOut(function () {
                this.innerText = '';
            });
    }
</script>