@model BlogSystem.Web.ViewModels.Comment.CommentIndexViewModel
@{
    ViewBag.Title = "Comments";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.Partial("_CreateCommentPartial", new BlogSystem.Web.ViewModels.Comment.CommentInputModel { Id = Model.Id })
<hr />

<div id="comments-items">
    @Html.Partial("_ItemsPartial", Model)
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/ajax-form-submit/ajax-form-submit.js"></script>
    <script type="text/javascript">
        function commentsLoaded() {
            var isLocked = false;
            $('#comments').on('click', 'a', function (e) {
                var $target = $(e.target),
                    $up, $down, $element, type, path, formData, xhr;

                $up = $target.closest('.vote-up');
                $down = $target.closest('.vote-down');

                if (($up.length || $down.length) && !isLocked) {
                    isLocked = true;
                    e.preventDefault();
                    $element = $up.length ? $up : $down;
                    type = $element.data('type');
                    path = (type === 'up' ? '@Url.Action("VoteUp", "Comment")' : '@Url.Action("VoteDown", "Comment")') + '/' + $element.data('id');
                    //formData = new FormData();
                    xhr = new XMLHttpRequest();
                    //formData.append('__RequestVerificationToken', $('#comments-items input[name="__RequestVerificationToken"').val());
                    xhr.addEventListener('load', function (data) {
                        if (this.status == 200) {
                            isLocked = false;
                            $target.closest('.vote').replaceWith(data.target.response);
                            Notifier.notifyInfo('Thank you for your vote!');
                        } else {
                            isLocked = false;
                            showJsonError(data.target);
                        }
                    });
                    xhr.addEventListener('error', function (error) {
                        isLocked = false;
                        Notifier.notifyError('Something bad happend. Please try again!');
                    });

                    xhr.open("POST", path, true);
                    xhr.send();
                }
            });
        }
    </script>
}