@model BlogSystem.Web.Areas.Administration.ViewModels.Comments.CommentSimpleViewModel

<li class="comment clearfix">
    <div class="comment-header">
        <div class="user-data-pic">
            @if (Model.Autor.AvatarUrl == null)
            {
                <span class="user-data-pic-glyph fa fa-user"></span>
            }
            else
            {
                <img src="@Model.Autor.AvatarUrl" class="user-data-pic-img" alt="Avatar of @Model.Autor.UserName" width="40" height="40" />
            }
        </div>

        <div class="user-info clearfix">
            <div class="user-info-name"><a href="@Url.Action("Info", "Users", new { userName = Model.Autor.UserName, area = "" })">@Model.Autor.UserName</a></div>
            <span class="user-info-points">points: <b>@Model.Autor.Points</b></span>
        </div>

        <div class="comment-data">
            <span class="comment-data-id">@ViewBag.CommentNumber</span>
            <span class="comment-data-time">@Model.CreatedOn.ToShortTimeString()</span>
            <span class="comment-data-date">@Model.CreatedOn.ToShortDateString()</span>
        </div>
    </div>

    <div class="comment-body raw clearfix">
        <div comment-content>
            @Html.Raw(Model.Content)
        </div>
        <hr />
        <div class="comment-edit">
            @Html.LabelFor(x => x.IsVisible, new { @class = "text-info" })
            @Html.DisplayFor(x => x.IsVisible)
            @if (!Model.IsVisible)
            {
                <p><b>@Html.LabelFor(model => model.ReasonToHide): </b> @Model.ReasonToHide</p>
            }
        </div>
        <div class="comment-btn">
            @Html.ActionLink("Edit comment", "Edit", "Comments", new { id = Model.Id }, new { @class = "btn btn-success btn-xs" })
        </div>
    </div>
</li>