@using Microsoft.AspNet.Identity
@using BlogSystem.Web.Infrastructure.Constants
@model BlogSystem.Web.ViewModels.Home.HomeIndexViewModel
@{
    ViewBag.Title = "Home";
}

<section class="blog-posts">
    @if (Model != null && Model.BlogPosts.Count() > 0)
    {
        foreach (var blogPost in Model.BlogPosts)
        {
            <article class="plate page">
                <header class="article-header">
                    <div class="date-holder">
                        <ul class="text-center">
                            <li class="date-month">@((MonthName)blogPost.CreatedOn.Month)</li>
                            <li class="date-day">@blogPost.CreatedOn.Day</li>
                            <li class="date-year">@blogPost.CreatedOn.Year</li>
                        </ul>
                    </div>

                    <div class="title article-title">
                        <h2>@blogPost.Title</h2>
                        <h3><i>@blogPost.SubTitle</i></h3>
                    </div>

                    <ul class="blog-info">
                        <li>
                            <span class="glyphicon glyphicon-user"></span>
                            @blogPost.Autor.UserName
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-calendar"></span>
                            @blogPost.CreatedOn.ToShortDateString()
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-time"></span>
                            @blogPost.CreatedOn.ToShortTimeString()
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-comment"></span>
                            @blogPost.CommentsCount Comments
                        </li>
                    </ul>
                </header>

                <div class="article-body raw">
                    @Html.Raw(blogPost.ShortContent)

                    <div class="clearfix">
                        <br />
                        <a href="@blogPost.Url" class="btn btn-primary btn-sm pull-left"><span class="glyphicon glyphicon-plus"></span> Read more</a>

                        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            @Html.ActionLink("Edit", "Edit", "BlogPosts", new { Area = "Administration", Id = blogPost.Id }, new { @class = "btn btn-success btn-sm pull-right" })
                        }
                    </div>
                    <br />
                    <hr />
                </div>

                <footer class="article-footer">
                    <div class="social-holder-google">
                        <div class="g-plusone" data-href="@blogPost.Url"></div>
                        <div class="g-plus" data-action="share" data-annotation="bubble" data-height="24" data-href="@blogPost.Url"></div>
                    </div>
                    <div class="social-holder-fb">
                        <div class="fb-like" data-href="@blogPost.Url" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                    </div>
                </footer>
            </article>
        }

        @Html.Pagination(Url.Action("Index"), Model, new { @class = "blog-posts-nav" }, PaginationSize.Large)
    }
    else
    {
        <h3>Sorry, nothing here.</h3>
    }
</section>

@section scripts {
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="~/Scripts/img-responsive/img-responsive.js"></script>
}