@using Microsoft.AspNet.Identity
@using BlogSystem.Web.Infrastructure.Constants
@model BlogSystem.Web.ViewModels.Home.IndexViewModel

@if (Model != null && Model.BlogPosts != null)
{
    <section>
        @foreach (var blogPost in Model.BlogPosts)
        {
            <article>
                <header>
                    <h1>@blogPost.Title</h1>
                    <h2>@blogPost.SubTitle</h2>
                </header>

                <hr />
                <div>@Html.Raw(blogPost.ShortContent)</div>
                <hr />

                <footer>
                    <span>@blogPost.CreatedOn</span>
                    <span>@blogPost.Autor.UserName</span>
                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <span>@Html.ActionLink("Edit", "Edit", "BlogPosts", new { Area = "Administration", Id = blogPost.Id }, new { @class = "btn btn-success btn-xs pull-right" })</span>
                    }
                </footer>
            </article>
        }
    </section>
}
else
{
    <h2>Sorry, nothing here.</h2>
}
