<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ivan Kizirian (KisiSoft) Blog and CV page" />

    <title>@ViewBag.Title - Ivan Kizirian's Blog</title>
    @Styles.Render("~/Content/css")
</head>
<body class="body-blog">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1418898885088552&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="wrapper">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink((string)ViewBag.Settings.Get["Blog Name"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @Html.Action("Menu", "Home", routeValues: new { Area = string.Empty })
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="tag-search">
                    <form id="tag-form" action="/Tags/" method="POST">
                        <label for="tag-search">Search by tag</label>
                        <input id="tag-search" class="lower" type="text" name="tagName" autocomplete="off" value="" />
                        <button id="tag-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        <ul id="tags" class="tags-options home hidden"></ul>
                    </form>

                    @if (this.ViewBag.ArticlesForTag != null)
                    {
                        <div class="tag-articles">
                            <span class="glyphicon glyphicon-star"></span>
                            <span>Articles for: <b>@this.ViewBag.ArticlesForTag</b></span>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="container body-content">
            <div class="row">
                @* Main content *@
                <div class="col-md-8 col-lg-9">
                    @RenderBody()
                </div>

                @* Right sidebar *@
                <div class="col-md-4 col-lg-3">
                    @Html.Action("Index", "Sidebar", routeValues: new { area = string.Empty })
                </div>
            </div>
        </div>

        <div class="footer-push"></div>
    </div>

    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - KiziSoft</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/tag-manager/tag-manager.js"></script>
</body>
</html>