@model BlogSystem.Web.ViewModels.Sidebar.SidebarViewModel

<aside class="sidebar">
    <section class="plate page">
        <header class="aside-header">
            <div class="title aside-title">
                <h2>Social medias</h2>
            </div>
        </header>

        <div class="aside-body">
            <ul class="social">
                <li class="mailto"><a href="@ViewBag.Settings.Get["Contact Email"]" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li class="facebook"><a href="@ViewBag.Settings.Get["Facebook Profile"]" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="linkedin"><a href="@ViewBag.Settings.Get["Linked In Profile"]" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li class="github"><a href="@ViewBag.Settings.Get["GitHub Profile"]" target="_blank"><i class="fa fa-github"></i></a></li>
                <li class="skype"><a href="@ViewBag.Settings.Get["Contact Email"]" target="_blank"><i class="fa fa-skype"></i></a></li>
                <li class="google-plus"><a href="@ViewBag.Settings.Get["Google Profile"]" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li class="rss"><a href="@ViewBag.Settings.Get["RSS Url"]" target="_blank"><i class="fa fa-rss"></i></a></li>
                <li class="stackoverflow"><a href="@ViewBag.Settings.Get["Stack Overflow Profile"]" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
            </ul>
        </div>
    </section>

    <section class="plate page">
        <header class="aside-header">
            <div class="title aside-title">
                <h2>Me @@GitHub</h2>
            </div>
        </header>

        <div class="aside-body">
            <iframe src="https://githubbadge.appspot.com/kizisoft?s=1" style="margin: 5px 0 -15px 0;border: 0;height: 142px;width: 200px;overflow: hidden;" frameborder="0"></iframe>
        </div>
    </section>

    <section class="plate page">
        <header class="aside-header">
            <div class="title aside-title">
                <h2>Recent Posts</h2>
            </div>
        </header>

        <div class="aside-body">
            @if (Model != null && Model.BlogPosts.Count() > 0)
            {
                <ul class="recent-posts">
                    @foreach (var blogPost in Model.BlogPosts)
                    {
                        <li class="clearfix">
                            <a href="@blogPost.Url" class="text-justify">
                                <div class="pull-left">
                                    <i class="fa fa-file-text fa-2x"></i>
                                </div>
                                @blogPost.Title
                            </a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <h3>Sorry, nothing here.</h3>
            }
        </div>
    </section>
</aside>