@model  BlogSystem.Web.ViewModels.Users.UserInputModel
@{
    ViewBag.Title = "User - " + @Model.UserName + " - Edit";
}

<div class="user-root plate page">

    <h2>@Model.UserName</h2>
    <hr />

    @using (Html.BeginForm("Edit", "Users", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" });
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.AvatarUrl)

        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_AvatarPartial", new BlogSystem.Web.ViewModels.Users.AvatarViewModel { IsUsedForEdit = true, AvatarUrl = Model.AvatarUrl })
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RealName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RealName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RealName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <button class="btn btn-success pull-right" type="submit">Save</button>
        </div>
    }
</div>

@Html.Partial("_UploadPartial", Model.Id)

@section scripts {
    <script type="text/javascript" src="~/Scripts/upload-user-pic/upload-user-pic.js"></script>
}